*~
#*#
configure
configure.scan
autom4te.cache/
autoscan.log
config.log
config.status
Makefile
Makefile.in
aclocal.m4
install-sh
missing
config.guess
config.h
config.h.in
config.sub
depcomp
.deps/
.libs/
*.lo
*.la
libtool
ltmain.sh
m4/
stamp-h1
*.o
simple_container
*.pc
*.tar.gz